/* Navbar */
.navbar-nav .nav-item .nav-link:hover {
  color: black;
  background-color: #f9a551;
  border-radius: 5%;
}
.navbar .nav-link {
  text-align: center;
  margin-right: 40px;
  font-family: "Trebuchet MS";
}

.navbar-brand {
  margin-left: 80px;
}
.fw-bolder {
  color: #f9a551;
}
/* Akhir Navbar */

.about {
  font-family: "Trebuchet MS";
  padding: 60px;
}
.Home {
  padding: 60px;
  font-family: "Trebuchet MS";
  font-weight: bolder;
  padding-top: 40px;
}
